In [1]:
import pandas as pd
import numpy as np

In [2]:
ankita = pd.read_csv('./clean_data/census_data.csv')
ankita.head()

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0

In [3]:
andy = pd.read_csv('./clean_data/checkpoints_rev.csv')
andy.head()

,Recip_County,Dose1_Recip_030121,Dose1_Pop_Pct_030121,Series_Complete_Pop_Pct_030121,Booster_Doses_Vax_Pct_030121,Dose1_Recip_090121,Dose1_Pop_Pct_090121,Series_Complete_Pop_Pct_090121,Booster_Doses_Vax_Pct_090121,Dose1_Recip_030122,Dose1_Pop_Pct_030122,Series_Complete_Pop_Pct_030122,Booster_Doses_Vax_Pct_030122
0,mason_mi,5795.0,19.9,12.1,0,0.0,0.0,51.7,0,17777.0,61.0,60.1,58.2
1,colusa_ca,2666.0,12.4,3.8,0,11806.0,54.8,45.8,0,14465.0,67.1,59.7,33.6
2,henry_al,2369.0,13.8,6.1,0,6804.0,39.5,30.7,0,9335.0,54.3,44.9,33.8
3,pulaski_ky,8231.0,12.7,6.1,0,28835.0,44.4,38.2,0,33758.0,52.0,45.6,40.9
4,franklin city_va,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

In [4]:
andy.rename(columns={'Recip_County':'County_State'}, inplace=True)

In [5]:
annie_1 = pd.read_csv('./clean_data/final_clean_vote_data.csv')
annie_1.head()

,county_state,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
0,kent_de,DE,Joe Biden,DEM,44552,87025,0.488,0.512
1,new castle_de,DE,Joe Biden,DEM,195034,287633,0.322,0.678
2,district of columbia_dc,DC,Joe Biden,DEM,39041,41681,0.063,0.937
3,alachua_fl,FL,Joe Biden,DEM,89704,142604,0.371,0.629
4,broward_fl,FL,Joe Biden,DEM,618752,957672,0.354,0.646

In [6]:
annie_1.rename(columns={'county_state': 'County_State'}, inplace=True)

In [7]:
annie_1.head()

,County_State,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
0,kent_de,DE,Joe Biden,DEM,44552,87025,0.488,0.512
1,new castle_de,DE,Joe Biden,DEM,195034,287633,0.322,0.678
2,district of columbia_dc,DC,Joe Biden,DEM,39041,41681,0.063,0.937
3,alachua_fl,FL,Joe Biden,DEM,89704,142604,0.371,0.629
4,broward_fl,FL,Joe Biden,DEM,618752,957672,0.354,0.646

In [8]:
annie_2 = pd.read_csv('./clean_data/vaccine_hesitancy.csv')
annie_2.head()

,county_state,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
0,abbeville_sc,13.0,0.293,0.108,0.185
1,acadia parish_la,15.0,0.290,0.083,0.207
2,accomack_va,33.0,0.214,0.087,0.126
3,ada_id,17.0,0.165,0.037,0.128
4,adair_ia,13.0,0.290,0.059,0.231

In [9]:
annie_2.rename(columns={'county_state':'County_State'}, inplace=True)

In [10]:
annie_2.head()

,County_State,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
0,abbeville_sc,13.0,0.293,0.108,0.185
1,acadia parish_la,15.0,0.290,0.083,0.207
2,accomack_va,33.0,0.214,0.087,0.126
3,ada_id,17.0,0.165,0.037,0.128
4,adair_ia,13.0,0.290,0.059,0.231

In [11]:
jacqueline = pd.read_csv('./clean_data/svi_clean.csv')

In [12]:
jacqueline.rename(columns={'index':'County_State'}, inplace=True)

In [13]:
jacqueline.head()

,County_State,socio_std,hh_std,minority_std,housing_std,overall_std,null_pct,uninsured_pct,socio_wgt,hh_wgt,minority_wgt,housing_wgt,overall_wgt,count
0,abbeville_sc,0.089387,0.195687,0.160383,0.134782,0.130340,0.000000,0.115140,0.799646,0.793354,0.352214,0.674209,0.752302,6
1,acadia parish_la,0.159638,0.262590,0.232193,0.216910,0.223026,0.000000,0.113333,0.784556,0.737875,0.323409,0.709167,0.731175,12
2,accomack_va,0.118796,0.108441,0.167966,0.172741,0.131746,0.272727,0.166147,0.645936,0.652600,0.616317,0.677891,0.709867,8
3,ada_id,0.201416,0.222791,0.164793,0.303244,0.227123,0.000000,0.081482,0.311357,0.376415,0.336126,0.404814,0.305790,59
4,adair_ia,0.032519,0.205443,0.055959,0.228846,0.139366,0.000000,0.062184,0.304220,0.723457,0.057589,0.457924,0.326702,3

In [14]:
#DataFrames
dfs = [ankita, andy, annie_1, annie_2, jacqueline]

In [15]:
states = list(ankita['State'].unique())
states = [state.lower() for state in states]
states

['mi',
 'ca',
 'al',
 'ky',
 'va',
 'sc',
 'wi',
 'oh',
 'ga',
 'ia',
 'ar',
 'ks',
 'wa',
 'in',
 'mn',
 'mt',
 'ny',
 'il',
 'tx',
 'pa',
 'la',
 'mo',
 'ok',
 'ne',
 'nv',
 'ms',
 'or',
 'fl',
 'ak',
 'nc',
 'wv',
 'me',
 'md',
 'sd',
 'hi',
 'co',
 'nh',
 'az',
 'vt',
 'ma',
 'id',
 'ut',
 'tn',
 'wy',
 'nd',
 'nj',
 'ri',
 'nm',
 'de',
 'ct',
 'dc']

In [16]:
county_num_dict = {}
for state in states:
    num = []
    for df in dfs:
        num.append(len([c for c in df['County_State'].values if c.endswith(f'_{state}')]))
    county_num_dict[state] = num

In [17]:
diff_df = pd.DataFrame(county_num_dict).T
diff_df

      0    1    2    3    4
mi   84   84   83   83   83
ca   59   59   58   58   58
al   68   68   67   67   67
ky  121  121  120  120  120
va  134  134  133  133  133
sc   47   47   46   46   46
wi   73   73   72   72   72
oh   89   89   88   88   88
ga  160  160  159  159  159
ia  100  100   99   99   99
ar   76   76   75   75   75
ks  106  106  105  105  105
wa   40   40   39   39   39
in   93   93   92   92   92
mn   88   88   87   87   87
mt   57   57   56   56   56
ny   63   63   62   62   62
il  103  103  102  102  102
tx  254  254  254  254  254
pa   68   68   67   67   67
la   65   65   64   64   64
mo  116  116  115  115  115
ok   78   78   77   77   77
ne   94   94   93   93   93
nv   18   18   17   17   17
ms   83   83   82   82   82
or   37   37   36   36   36
fl   68   68   67   67   67
ak   30   30   33   30   29
nc  101  101  100  100  100
wv   56   56   55   55   55
me   17   17   16   16   16
md   25   25   24   24   24
sd   67   67   66   66   66
hi    5    5    4    4    5
co   65   65   64   64   64
nh   11   11   10   10   10
az   16   16   15   15   15
vt   15   15   14   14   14
ma   15   15   14   14   14
id   45   45   44   44   44
ut   30   30   29   29   29
tn   96   96   95   95   95
wy   24   24   23   23   23
nd   54   54   53   53   53
nj   22   22   21   21   21
ri    6    6    5    5    5
nm   34   34   33   33   33
de    4    4    3    3    3
ct    9    9    8    8    8
dc    2    2    1    1    1

In [18]:
diff_df.rename(columns={0:'census',1:'checkpoints',2:'election',3:'vaccine',4:'svi'},inplace=True)

In [19]:
diff_df

    census  checkpoints  election  vaccine  svi
mi      84           84        83       83   83
ca      59           59        58       58   58
al      68           68        67       67   67
ky     121          121       120      120  120
va     134          134       133      133  133
sc      47           47        46       46   46
wi      73           73        72       72   72
oh      89           89        88       88   88
ga     160          160       159      159  159
ia     100          100        99       99   99
ar      76           76        75       75   75
ks     106          106       105      105  105
wa      40           40        39       39   39
in      93           93        92       92   92
mn      88           88        87       87   87
mt      57           57        56       56   56
ny      63           63        62       62   62
il     103          103       102      102  102
tx     254          254       254      254  254
pa      68           68        67       67   67
la      65           65        64       64   64
mo     116          116       115      115  115
ok      78           78        77       77   77
ne      94           94        93       93   93
nv      18           18        17       17   17
ms      83           83        82       82   82
or      37           37        36       36   36
fl      68           68        67       67   67
ak      30           30        33       30   29
nc     101          101       100      100  100
wv      56           56        55       55   55
me      17           17        16       16   16
md      25           25        24       24   24
sd      67           67        66       66   66
hi       5            5         4        4    5
co      65           65        64       64   64
nh      11           11        10       10   10
az      16           16        15       15   15
vt      15           15        14       14   14
ma      15           15        14       14   14
id      45           45        44       44   44
ut      30           30        29       29   29
tn      96           96        95       95   95
wy      24           24        23       23   23
nd      54           54        53       53   53
nj      22           22        21       21   21
ri       6            6         5        5    5
nm      34           34        33       33   33
de       4            4         3        3    3
ct       9            9         8        8    8
dc       2            2         1        1    1

For most of the states, census data and checkpoints data has 1 county more than svi data, and these are 'unknown' counties.

In [20]:
set([c for c in andy['County_State'].values if c.endswith('me')]).difference(set([c for c in annie_1['County_State'].values if c.endswith('me')]))

{'unknown_me'}

In [21]:
set([c for c in ankita['County_State'].values if c.endswith('me')]).difference(set([c for c in annie_1['County_State'].values if c.endswith('me')]))

{'unknown_me'}

In [22]:
#Dropping columns with 'Unknown County'
ankita.drop(index=ankita[ankita['County_State'].str.contains('unknown')].index, inplace=True)

In [23]:
#Dropping columns with 'Unknown County'
andy.drop(index=andy[andy['County_State'].str.contains('unknown')].index, inplace=True)

In [24]:
#Creating and checking the diff_df dataframe again
county_num_dict = {}
for state in states:
    num = []
    for df in dfs:
        num.append(len([c for c in df['County_State'].values if c.endswith(f'_{state}')]))
    county_num_dict[state] = num       
diff_df = pd.DataFrame(county_num_dict).T
diff_df.rename(columns={0:'census',1:'checkpoints',2:'election',3:'vaccine',4:'svi'},inplace=True)
diff_df

    census  checkpoints  election  vaccine  svi
mi      83           83        83       83   83
ca      58           58        58       58   58
al      67           67        67       67   67
ky     120          120       120      120  120
va     133          133       133      133  133
sc      46           46        46       46   46
wi      72           72        72       72   72
oh      88           88        88       88   88
ga     159          159       159      159  159
ia      99           99        99       99   99
ar      75           75        75       75   75
ks     105          105       105      105  105
wa      39           39        39       39   39
in      92           92        92       92   92
mn      87           87        87       87   87
mt      56           56        56       56   56
ny      62           62        62       62   62
il     102          102       102      102  102
tx     254          254       254      254  254
pa      67           67        67       67   67
la      64           64        64       64   64
mo     115          115       115      115  115
ok      77           77        77       77   77
ne      93           93        93       93   93
nv      17           17        17       17   17
ms      82           82        82       82   82
or      36           36        36       36   36
fl      67           67        67       67   67
ak      29           29        33       30   29
nc     100          100       100      100  100
wv      55           55        55       55   55
me      16           16        16       16   16
md      24           24        24       24   24
sd      66           66        66       66   66
hi       5            5         4        4    5
co      64           64        64       64   64
nh      10           10        10       10   10
az      15           15        15       15   15
vt      14           14        14       14   14
ma      14           14        14       14   14
id      44           44        44       44   44
ut      29           29        29       29   29
tn      95           95        95       95   95
wy      23           23        23       23   23
nd      53           53        53       53   53
nj      21           21        21       21   21
ri       5            5         5        5    5
nm      33           33        33       33   33
de       3            3         3        3    3
ct       8            8         8        8    8
dc       1            1         1        1    1

In [25]:
#States where number of counties does not match across the dataframes
diff_df[diff_df['census'] != diff_df['election']]

    census  checkpoints  election  vaccine  svi
ak      29           29        33       30   29
hi       5            5         4        4    5

In [26]:
#Function to check county discrepancy across all the states between two dataframes
def county_discrepancy(df1, df2, state):
    print(f'Counties in first and not in second:')
    print(set([c for c in df1['County_State'].values if c.endswith(state)]).difference(set([c for c in df2['County_State'].values if c.endswith(state)])))
    print()
    print(f'Counties in second and not in first:')
    print(set([c for c in df2['County_State'].values if c.endswith(state)]).difference(set([c for c in df1['County_State'].values if c.endswith(state)])))
    print()

In [27]:
#Checking for a single state
county_discrepancy(ankita, jacqueline, 'ak')

Counties in first and not in second:
{'valdez-cordova census area_ak', 'petersburg census area_ak'}

Counties in second and not in first:
{'valdez-cordova_ak', 'petersburg borough_ak'}

In [28]:
#Check for all the states between two dataframes
for state in states: 
    print(f'{state}')
    county_discrepancy(ankita, jacqueline, state)

mi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ca
Counties in first and not in second:
set()

Counties in second and not in first:
set()

al
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ky
Counties in first and not in second:
set()

Counties in second and not in first:
set()

va
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

oh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ga
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ia
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ar
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ks
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

in
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ny
Counties in first and not in second:
set()

Counties in second and not in first:
set()

il
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tx
Counties in first and not in second:
set()

Counties in second and not in first:
set()

pa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

la
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mo
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ok
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ne
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ms
Counties in first and not in second:
set()

Counties in second and not in first:
set()

or
Counties in first and not in second:
set()

Counties in second and not in first:
set()

fl
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ak
Counties in first and not in second:
{'valdez-cordova census area_ak', 'petersburg census area_ak'}

Counties in second and not in first:
{'valdez-cordova_ak', 'petersburg borough_ak'}

nc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

me
Counties in first and not in second:
set()

Counties in second and not in first:
set()

md
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

hi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

co
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

az
Counties in first and not in second:
set()

Counties in second and not in first:
set()

vt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ma
Counties in first and not in second:
set()

Counties in second and not in first:
set()

id
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ut
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wy
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nj
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ri
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nm
Counties in first and not in second:
{'dona ana_nm'}

Counties in second and not in first:
{'doa ana_nm'}

de
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ct
Counties in first and not in second:
set()

Counties in second and not in first:
set()

dc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

Alaska & New Mexico are the only states with county discrepancy.

In [29]:
ankita[ankita.loc[:,'County_State'] == 'petersburg census area_ak']

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop
3137,petersburg census area_ak,Petersburg Census Area,AK,3.0,0.0,3266.0,02195,670.0,1935.0

In [30]:
ankita.loc[3137,'County_State'] = 'petersburg borough_ak'

In [31]:
andy[andy.loc[:,'County_State'] == 'petersburg census area_ak']

,County_State,Dose1_Recip_030121,Dose1_Pop_Pct_030121,Series_Complete_Pop_Pct_030121,Booster_Doses_Vax_Pct_030121,Dose1_Recip_090121,Dose1_Pop_Pct_090121,Series_Complete_Pop_Pct_090121,Booster_Doses_Vax_Pct_090121,Dose1_Recip_030122,Dose1_Pop_Pct_030122,Series_Complete_Pop_Pct_030122,Booster_Doses_Vax_Pct_030122
3137,petersburg census area_ak,1454.0,44.5,27.2,0,2223.0,68.1,64.5,0,2630.0,80.5,75.1,49.9

In [32]:
andy.loc[3137,'County_State'] = 'petersburg borough_ak'

In [33]:
ankita[ankita.loc[:,'County_State'] == 'valdez-cordova census area_ak']

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop
834,valdez-cordova census area_ak,Valdez-Cordova Census Area,AK,2.0,NaN,9202.0,02261,1328.0,5726.0

In [34]:
ankita.loc[834,'County_State'] = 'valdez-cordova_ak'

In [35]:
andy[andy.loc[:,'County_State'] == 'valdez-cordova census area_ak']

,County_State,Dose1_Recip_030121,Dose1_Pop_Pct_030121,Series_Complete_Pop_Pct_030121,Booster_Doses_Vax_Pct_030121,Dose1_Recip_090121,Dose1_Pop_Pct_090121,Series_Complete_Pop_Pct_090121,Booster_Doses_Vax_Pct_090121,Dose1_Recip_030122,Dose1_Pop_Pct_030122,Series_Complete_Pop_Pct_030122,Booster_Doses_Vax_Pct_030122
834,valdez-cordova census area_ak,2152.0,23.4,16.5,0,4890.0,53.1,48.5,0,6216.0,67.6,62.4,43.7

In [36]:
andy.loc[834,'County_State'] = 'valdez-cordova_ak'

In [37]:
jacqueline[jacqueline.loc[:, 'County_State'] == 'doa ana_nm']

,County_State,socio_std,hh_std,minority_std,housing_std,overall_std,null_pct,uninsured_pct,socio_wgt,hh_wgt,minority_wgt,housing_wgt,overall_wgt,count
817,doa ana_nm,0.188786,0.231717,0.11449,0.22247,0.185575,0.0,0.111193,0.760703,0.665375,0.824483,0.556077,0.77025,41

In [38]:
jacqueline.loc[817, 'County_State'] = 'dona ana_nm'

The dataframes ankita, andy & jacqueline are synchronous on 'County_State' column.

In [39]:
#Check for all the states between two dataframes
for state in states: 
    print(f'{state}')
    county_discrepancy(ankita, annie_2, state)

mi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ca
Counties in first and not in second:
set()

Counties in second and not in first:
set()

al
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ky
Counties in first and not in second:
set()

Counties in second and not in first:
set()

va
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

oh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ga
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ia
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ar
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ks
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

in
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ny
Counties in first and not in second:
set()

Counties in second and not in first:
set()

il
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tx
Counties in first and not in second:
set()

Counties in second and not in first:
set()

pa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

la
Counties in first and not in second:
{'la salle parish_la'}

Counties in second and not in first:
{'lasalle parish_la'}

mo
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ok
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ne
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ms
Counties in first and not in second:
set()

Counties in second and not in first:
set()

or
Counties in first and not in second:
set()

Counties in second and not in first:
set()

fl
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ak
Counties in first and not in second:
{'valdez-cordova_ak'}

Counties in second and not in first:
{'copper river census area_ak', 'chugach census area_ak'}

nc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

me
Counties in first and not in second:
set()

Counties in second and not in first:
set()

md
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

hi
Counties in first and not in second:
{'kalawao_hi'}

Counties in second and not in first:
set()

co
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

az
Counties in first and not in second:
set()

Counties in second and not in first:
set()

vt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ma
Counties in first and not in second:
set()

Counties in second and not in first:
set()

id
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ut
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wy
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nj
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ri
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nm
Counties in first and not in second:
{'dona ana_nm'}

Counties in second and not in first:
{'doa ana_nm'}

de
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ct
Counties in first and not in second:
set()

Counties in second and not in first:
set()

dc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

In [40]:
annie_2[annie_2.loc[:,'County_State'] == 'lasalle parish_la']

,County_State,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
1547,lasalle parish_la,8.0,0.313,0.1,0.213

In [41]:
annie_2.loc[1547, 'County_State'] = 'la salle parish_la'

In [42]:
annie_2[annie_2.loc[:,'County_State'] == 'doa ana_nm']

,County_State,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
819,doa ana_nm,26.0,0.099,0.029,0.07

In [43]:
annie_2.loc[819, 'County_State'] = 'dona ana_nm'

In [44]:
#Counties to be deleted from vaccine data
#'copper river census area_ak', 'chugach census area_ak'

In [45]:
annie_2[annie_2.loc[:,'County_State'] == 'copper river census area_ak']

,County_State,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
637,copper river census area_ak,7.0,0.285,0.051,0.234

In [46]:
#annie_2.drop(index=637, inplace=True)

In [47]:
annie_2[annie_2.loc[:,'County_State'] == 'chugach census area_ak']

,County_State,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
508,chugach census area_ak,4.0,0.224,0.035,0.189

In [48]:
#annie_2.drop(index=508, inplace=True)

In [49]:
#Check for all the states between two dataframes
for state in states: 
    print(f'{state}')
    county_discrepancy(ankita, annie_1, state)

mi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ca
Counties in first and not in second:
set()

Counties in second and not in first:
set()

al
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ky
Counties in first and not in second:
set()

Counties in second and not in first:
set()

va
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wi
Counties in first and not in second:
set()

Counties in second and not in first:
set()

oh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ga
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ia
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ar
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ks
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

in
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

mt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ny
Counties in first and not in second:
set()

Counties in second and not in first:
set()

il
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tx
Counties in first and not in second:
set()

Counties in second and not in first:
set()

pa
Counties in first and not in second:
set()

Counties in second and not in first:
set()

la
Counties in first and not in second:
{'la salle parish_la'}

Counties in second and not in first:
{'lasalle parish_la'}

mo
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ok
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ne
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ms
Counties in first and not in second:
set()

Counties in second and not in first:
set()

or
Counties in first and not in second:
set()

Counties in second and not in first:
set()

fl
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ak
Counties in first and not in second:
set()

Counties in second and not in first:
{'copper river census area_ak', 'chugach census area_ak', 'petersburg census area_ak', 'valdez-cordova census area_ak'}

nc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wv
Counties in first and not in second:
set()

Counties in second and not in first:
set()

me
Counties in first and not in second:
set()

Counties in second and not in first:
set()

md
Counties in first and not in second:
set()

Counties in second and not in first:
set()

sd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

hi
Counties in first and not in second:
{'kalawao_hi'}

Counties in second and not in first:
set()

co
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nh
Counties in first and not in second:
set()

Counties in second and not in first:
set()

az
Counties in first and not in second:
set()

Counties in second and not in first:
set()

vt
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ma
Counties in first and not in second:
set()

Counties in second and not in first:
set()

id
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ut
Counties in first and not in second:
set()

Counties in second and not in first:
set()

tn
Counties in first and not in second:
set()

Counties in second and not in first:
set()

wy
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nd
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nj
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ri
Counties in first and not in second:
set()

Counties in second and not in first:
set()

nm
Counties in first and not in second:
{'dona ana_nm'}

Counties in second and not in first:
{'doa ana_nm'}

de
Counties in first and not in second:
set()

Counties in second and not in first:
set()

ct
Counties in first and not in second:
set()

Counties in second and not in first:
set()

dc
Counties in first and not in second:
set()

Counties in second and not in first:
set()

In [50]:
annie_1[annie_1.loc[:,'County_State'] == 'lasalle parish_la']

,County_State,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
1252,lasalle parish_la,LA,Donald Trump,REP,6378,7077,0.901,0.099

In [51]:
annie_1.loc[1252, 'County_State'] = 'la salle parish_la'

In [52]:
annie_1[annie_1.loc[:,'County_State'] == 'doa ana_nm']

,County_State,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
199,doa ana_nm,NM,Joe Biden,DEM,47957,82641,0.42,0.58

In [53]:
annie_1.loc[199,'County_State'] = 'dona ana_nm'

In [54]:
county_discrepancy(ankita, annie_1, 'ak')

Counties in first and not in second:
set()

Counties in second and not in first:
{'copper river census area_ak', 'chugach census area_ak', 'petersburg census area_ak', 'valdez-cordova census area_ak'}

In [55]:
#extra_county = list(set(annie_1['County_State'].values).difference(set(ankita['County_State'].values)))
extra_county = ['petersburg census area_ak','valdez-cordova census area_ak']

In [66]:
annie_1[annie_1.loc[:,'County_State'].str.contains('_ak')]

,County_State,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
3093,aleutians east borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3094,aleutians west census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3095,anchorage municipality_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3096,bethel census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3097,bristol bay borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3098,denali borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3099,dillingham census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3100,fairbanks north star borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3101,haines borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3102,hoonah-angoon census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3103,juneau city and borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3104,kenai peninsula borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3105,ketchikan gateway borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3106,kodiak island borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3107,kusilvak census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3108,lake and peninsula borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3109,matanuska-susitna borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3110,nome census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3111,north slope borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3112,northwest arctic borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3113,petersburg borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3114,prince of wales-hyder census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3115,sitka city and borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3116,skagway municipality_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3117,southeast fairbanks census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3118,valdez-cordova_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3119,wrangell city and borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3120,yakutat city and borough_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3121,yukon-koyukuk census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3122,chugach census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3123,copper river census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3124,valdez-cordova census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428
3125,petersburg census area_ak,AK,Donald Trump,REP,189951,359530,0.528,0.428

In [56]:
drop_index = [annie_1[annie_1.loc[:,'County_State'] == extra].index[0] for extra in extra_county]   
drop_index

[3125, 3124]

In [57]:
annie_1.drop(index=drop_index, inplace=True)

In [58]:
#Creating and checking the diff_df dataframe again
county_num_dict = {}
for state in states:
    num = []
    for df in dfs:
        num.append(len([c for c in df['County_State'].values if c.endswith(f'_{state}')]))
    county_num_dict[state] = num       
diff_df = pd.DataFrame(county_num_dict).T
diff_df.rename(columns={0:'census',1:'checkpoints',2:'election',3:'vaccine',4:'svi'},inplace=True)
diff_df

    census  checkpoints  election  vaccine  svi
mi      83           83        83       83   83
ca      58           58        58       58   58
al      67           67        67       67   67
ky     120          120       120      120  120
va     133          133       133      133  133
sc      46           46        46       46   46
wi      72           72        72       72   72
oh      88           88        88       88   88
ga     159          159       159      159  159
ia      99           99        99       99   99
ar      75           75        75       75   75
ks     105          105       105      105  105
wa      39           39        39       39   39
in      92           92        92       92   92
mn      87           87        87       87   87
mt      56           56        56       56   56
ny      62           62        62       62   62
il     102          102       102      102  102
tx     254          254       254      254  254
pa      67           67        67       67   67
la      64           64        64       64   64
mo     115          115       115      115  115
ok      77           77        77       77   77
ne      93           93        93       93   93
nv      17           17        17       17   17
ms      82           82        82       82   82
or      36           36        36       36   36
fl      67           67        67       67   67
ak      29           29        31       30   29
nc     100          100       100      100  100
wv      55           55        55       55   55
me      16           16        16       16   16
md      24           24        24       24   24
sd      66           66        66       66   66
hi       5            5         4        4    5
co      64           64        64       64   64
nh      10           10        10       10   10
az      15           15        15       15   15
vt      14           14        14       14   14
ma      14           14        14       14   14
id      44           44        44       44   44
ut      29           29        29       29   29
tn      95           95        95       95   95
wy      23           23        23       23   23
nd      53           53        53       53   53
nj      21           21        21       21   21
ri       5            5         5        5    5
nm      33           33        33       33   33
de       3            3         3        3    3
ct       8            8         8        8    8
dc       1            1         1        1    1

In [59]:
ankita.shape, andy.shape, annie_1.shape, annie_2.shape, jacqueline.shape

((3142, 9), (3142, 13), (3143, 8), (3142, 5), (3142, 14))

In [60]:
#Since these two dataframes have consitent county names, inner merge maybe used
df = pd.merge(ankita, andy, on='County_State')
df

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop,Dose1_Recip_030121,...,Series_Complete_Pop_Pct_030121,Booster_Doses_Vax_Pct_030121,Dose1_Recip_090121,Dose1_Pop_Pct_090121,Series_Complete_Pop_Pct_090121,Booster_Doses_Vax_Pct_090121,Dose1_Recip_030122,Dose1_Pop_Pct_030122,Series_Complete_Pop_Pct_030122,Booster_Doses_Vax_Pct_030122
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0,5795.0,...,12.1,0,0.0,0.0,51.7,0,17777.0,61.0,60.1,58.2
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0,2666.0,...,3.8,0,11806.0,54.8,45.8,0,14465.0,67.1,59.7,33.6
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0,2369.0,...,6.1,0,6804.0,39.5,30.7,0,9335.0,54.3,44.9,33.8
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0,8231.0,...,6.1,0,28835.0,44.4,38.2,0,33758.0,52.0,45.6,40.9
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0,0.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,henderson_tx,Henderson County,TX,3.0,0.0,82737.0,48213,18534.0,46601.0,0.0,...,0.0,0,0.0,0.0,0.0,0,36982.0,44.7,38.9,38.9
3138,pike_il,Pike County,IL,2.0,0.0,15561.0,17149,3312.0,8743.0,3103.0,...,9.3,0,5974.0,38.4,32.2,0,6827.0,43.9,40.4,43.1
3139,warren_il,Warren County,IL,3.0,0.0,16844.0,17187,3398.0,9822.0,3197.0,...,6.6,0,8090.0,48.0,40.3,0,8999.0,53.4,49.1,51.8
3140,cass_mo,Cass County,MO,1.0,1.0,105780.0,29037,18334.0,62244.0,12674.0,...,5.5,0,50007.0,47.3,41.0,0,64277.0,60.8,51.1,41.3
3141,richland parish_la,Richland Parish,LA,4.0,0.0,20122.0,22083,3644.0,11815.0,3161.0,...,10.3,0,7953.0,39.5,33.4,0,9569.0,47.6,42.5,37.6

In [61]:
df = pd.merge(df, jacqueline, on='County_State')
df

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop,Dose1_Recip_030121,...,housing_std,overall_std,null_pct,uninsured_pct,socio_wgt,hh_wgt,minority_wgt,housing_wgt,overall_wgt,count
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0,5795.0,...,0.295209,0.238338,0.0,0.067373,0.519038,0.721260,0.163782,0.514260,0.489260,8
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0,2666.0,...,0.189415,0.081586,0.0,0.102637,0.654030,0.687567,0.875846,0.738581,0.809511,5
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0,2369.0,...,0.263640,0.120138,0.0,0.111948,0.687634,0.754715,0.288568,0.423016,0.583247,6
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0,8231.0,...,0.262720,0.174451,0.0,0.058103,0.785212,0.806002,0.118135,0.547083,0.638048,14
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0,0.0,...,0.332340,0.349099,0.0,0.090123,0.720020,0.858973,0.425004,0.366614,0.626408,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,henderson_tx,Henderson County,TX,3.0,0.0,82737.0,48213,18534.0,46601.0,0.0,...,0.253767,0.182205,0.0,0.185260,0.623136,0.730684,0.410492,0.548642,0.615094,17
3138,pike_il,Pike County,IL,2.0,0.0,15561.0,17149,3312.0,8743.0,3103.0,...,0.178861,0.118373,0.0,0.048369,0.590135,0.802811,0.088214,0.494221,0.507304,5
3139,warren_il,Warren County,IL,3.0,0.0,16844.0,17187,3398.0,9822.0,3197.0,...,0.366952,0.342975,0.0,0.033280,0.567395,0.624949,0.355752,0.626059,0.564471,5
3140,cass_mo,Cass County,MO,1.0,1.0,105780.0,29037,18334.0,62244.0,12674.0,...,0.292057,0.240937,0.0,0.073385,0.365968,0.586386,0.198768,0.367826,0.336597,20
3141,richland parish_la,Richland Parish,LA,4.0,0.0,20122.0,22083,3644.0,11815.0,3161.0,...,0.252379,0.197702,0.0,0.148530,0.755460,0.688141,0.320876,0.707706,0.705161,6

In [62]:
annie_2.shape

(3142, 5)

In [64]:
#Outer merge due to some county discrepancy
df = pd.merge(df, annie_2, how='outer',on='County_State')
df

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop,Dose1_Recip_030121,...,socio_wgt,hh_wgt,minority_wgt,housing_wgt,overall_wgt,count,n_zipcodes,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0,5795.0,...,0.519038,0.721260,0.163782,0.514260,0.489260,8.0,10.0,0.187,0.046,0.141
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0,2666.0,...,0.654030,0.687567,0.875846,0.738581,0.809511,5.0,8.0,0.293,0.081,0.212
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0,2369.0,...,0.687634,0.754715,0.288568,0.423016,0.583247,6.0,8.0,0.339,0.075,0.264
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0,8231.0,...,0.785212,0.806002,0.118135,0.547083,0.638048,14.0,11.0,0.297,0.064,0.233
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0,0.0,...,0.720020,0.858973,0.425004,0.366614,0.626408,2.0,1.0,0.180,0.059,0.121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,warren_il,Warren County,IL,3.0,0.0,16844.0,17187,3398.0,9822.0,3197.0,...,0.567395,0.624949,0.355752,0.626059,0.564471,5.0,14.0,0.250,0.058,0.192
3140,cass_mo,Cass County,MO,1.0,1.0,105780.0,29037,18334.0,62244.0,12674.0,...,0.365968,0.586386,0.198768,0.367826,0.336597,20.0,17.0,0.194,0.057,0.137
3141,richland parish_la,Richland Parish,LA,4.0,0.0,20122.0,22083,3644.0,11815.0,3161.0,...,0.755460,0.688141,0.320876,0.707706,0.705161,6.0,7.0,0.295,0.090,0.205
3142,chugach census area_ak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.224,0.035,0.189
3143,copper river census area_ak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.285,0.051,0.234

In [65]:
annie_1.shape

(3143, 8)

In [67]:
#Outer merge
df = pd.merge(df, annie_1,how='outer', on='County_State')
df

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop,Dose1_Recip_030121,...,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0,5795.0,...,0.187,0.046,0.141,MI,Donald Trump,REP,10207.0,17254.0,0.592,0.408
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0,2666.0,...,0.293,0.081,0.212,CA,Donald Trump,REP,4554.0,7951.0,0.573,0.427
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0,2369.0,...,0.339,0.075,0.264,AL,Donald Trump,REP,6607.0,9298.0,0.711,0.289
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0,8231.0,...,0.297,0.064,0.233,KY,Donald Trump,REP,25442.0,31557.0,0.806,0.194
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0,0.0,...,0.180,0.059,0.121,VA,Joe Biden,DEM,2525.0,4058.0,0.378,0.622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,warren_il,Warren County,IL,3.0,0.0,16844.0,17187,3398.0,9822.0,3197.0,...,0.250,0.058,0.192,IL,Donald Trump,REP,4676.0,7924.0,0.590,0.410
3140,cass_mo,Cass County,MO,1.0,1.0,105780.0,29037,18334.0,62244.0,12674.0,...,0.194,0.057,0.137,MO,Donald Trump,REP,37197.0,57408.0,0.648,0.352
3141,richland parish_la,Richland Parish,LA,4.0,0.0,20122.0,22083,3644.0,11815.0,3161.0,...,0.295,0.090,0.205,LA,Donald Trump,REP,6607.0,9940.0,0.665,0.335
3142,chugach census area_ak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.224,0.035,0.189,AK,Donald Trump,REP,189951.0,359530.0,0.528,0.428
3143,copper river census area_ak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.285,0.051,0.234,AK,Donald Trump,REP,189951.0,359530.0,0.528,0.428

In [68]:
df.isnull().sum()

County_State                        0
County                              2
State                               2
SVI_CTGY                            3
Metro_status                        3
Census2019                          2
FIPS                                2
Census2019_65PlusPop                2
Census2019_18to64Pop                2
Dose1_Recip_030121                  2
Dose1_Pop_Pct_030121                2
Series_Complete_Pop_Pct_030121      2
Booster_Doses_Vax_Pct_030121        2
Dose1_Recip_090121                  2
Dose1_Pop_Pct_090121                2
Series_Complete_Pop_Pct_090121      2
Booster_Doses_Vax_Pct_090121        2
Dose1_Recip_030122                  2
Dose1_Pop_Pct_030122                2
Series_Complete_Pop_Pct_030122      2
Booster_Doses_Vax_Pct_030122        2
socio_std                         241
hh_std                            241
minority_std                      241
housing_std                       241
overall_std                       241
null_pct                            2
uninsured_pct                       2
socio_wgt                           2
hh_wgt                              2
minority_wgt                        2
housing_wgt                         2
overall_wgt                         2
count                               2
n_zipcodes                          2
pct_hesitant_02-24-22               2
pct_somewhat_hesitant_02-24-22      2
pct_highly_hesitant_02-24-22        2
state                               1
candidate_won                       1
party                               1
winner_votes                        1
total_votes                         1
pct_trump                           1
pct_biden                           1
dtype: int64

In [70]:
#Dropping columns with more than 5% nulls
df = df.drop(columns=['socio_std','hh_std','minority_std','housing_std','overall_std'])
df.head()

,County_State,County,State,SVI_CTGY,Metro_status,Census2019,FIPS,Census2019_65PlusPop,Census2019_18to64Pop,Dose1_Recip_030121,...,pct_hesitant_02-24-22,pct_somewhat_hesitant_02-24-22,pct_highly_hesitant_02-24-22,state,candidate_won,party,winner_votes,total_votes,pct_trump,pct_biden
0,mason_mi,Mason County,MI,2.0,0.0,29144.0,26105,7069.0,16171.0,5795.0,...,0.187,0.046,0.141,MI,Donald Trump,REP,10207.0,17254.0,0.592,0.408
1,colusa_ca,Colusa County,CA,3.0,0.0,21547.0,06011,3214.0,12492.0,2666.0,...,0.293,0.081,0.212,CA,Donald Trump,REP,4554.0,7951.0,0.573,0.427
2,henry_al,Henry County,AL,3.0,1.0,17205.0,01067,4031.0,9666.0,2369.0,...,0.339,0.075,0.264,AL,Donald Trump,REP,6607.0,9298.0,0.711,0.289
3,pulaski_ky,Pulaski County,KY,3.0,0.0,64979.0,21199,12330.0,38165.0,8231.0,...,0.297,0.064,0.233,KY,Donald Trump,REP,25442.0,31557.0,0.806,0.194
4,franklin city_va,Franklin city,VA,3.0,0.0,7967.0,51620,1519.0,4378.0,0.0,...,0.180,0.059,0.121,VA,Joe Biden,DEM,2525.0,4058.0,0.378,0.622

In [73]:
df.drop(columns=['state','party', 'count','n_zipcodes','Dose1_Recip_030121','Dose1_Recip_090121','Dose1_Recip_030122'],inplace=True)

In [75]:
df['candidate_won'] = df['candidate_won'].map({'Donald Trump':1, 'Joe Biden':0})

In [78]:
df['Dose1_Pop_Pct_030121'].describe()

count    3142.000000
mean       12.267919
std         7.375034
min         0.000000
25%         8.400000
50%        13.000000
75%        16.600000
max        57.000000
Name: Dose1_Pop_Pct_030121, dtype: float64

In [80]:
df['Census2019_Pct_65Plus'] = df['Census2019_65PlusPop'] / df['Census2019'] * 100

In [82]:
df['Census2019_Pct_18to64'] = df['Census2019_18to64Pop'] / df['Census2019'] * 100

In [84]:
df.drop(columns=['Census2019_65PlusPop','Census2019_18to64Pop'], inplace=True)

In [85]:
df.columns

Index(['County_State', 'County', 'State', 'SVI_CTGY', 'Metro_status',
       'Census2019', 'FIPS', 'Dose1_Pop_Pct_030121',
       'Series_Complete_Pop_Pct_030121', 'Booster_Doses_Vax_Pct_030121',
       'Dose1_Pop_Pct_090121', 'Series_Complete_Pop_Pct_090121',
       'Booster_Doses_Vax_Pct_090121', 'Dose1_Pop_Pct_030122',
       'Series_Complete_Pop_Pct_030122', 'Booster_Doses_Vax_Pct_030122',
       'null_pct', 'uninsured_pct', 'socio_wgt', 'hh_wgt', 'minority_wgt',
       'housing_wgt', 'overall_wgt', 'pct_hesitant_02-24-22',
       'pct_somewhat_hesitant_02-24-22', 'pct_highly_hesitant_02-24-22',
       'candidate_won', 'winner_votes', 'total_votes', 'pct_trump',
       'pct_biden', 'Census2019_Pct_65Plus', 'Census2019_Pct_18to64'],
      dtype='object')

In [87]:
#Rearraging the order of columns
df = df[['County_State', 'County', 'State', 'FIPS','SVI_CTGY', 'Metro_status',
       'Census2019','Census2019_Pct_65Plus', 'Census2019_Pct_18to64', 'Dose1_Pop_Pct_030121',
       'Series_Complete_Pop_Pct_030121', 'Booster_Doses_Vax_Pct_030121',
       'Dose1_Pop_Pct_090121', 'Series_Complete_Pop_Pct_090121',
       'Booster_Doses_Vax_Pct_090121', 'Dose1_Pop_Pct_030122',
       'Series_Complete_Pop_Pct_030122', 'Booster_Doses_Vax_Pct_030122',
       'null_pct', 'uninsured_pct', 'socio_wgt', 'hh_wgt', 'minority_wgt',
       'housing_wgt', 'overall_wgt', 'pct_hesitant_02-24-22',
       'pct_somewhat_hesitant_02-24-22', 'pct_highly_hesitant_02-24-22',
       'candidate_won', 'winner_votes', 'total_votes', 'pct_trump',
       'pct_biden']]

In [91]:
#lowercasing all the column names
df.rename(columns={'County_State':'county_state', 'County':'county', 'State':'state', 'FIPS':'fips','SVI_CTGY':'svi_ctgy', 'Metro_status':'metro_status',
       'Census2019':'census2019','Census2019_Pct_65Plus':'census_pct_65plus', 'Census2019_Pct_18to64':'census_pct_18to64', 'Dose1_Pop_Pct_030121':'dose1_pct_030121',
       'Series_Complete_Pop_Pct_030121':'series_complete_pct_030121', 'Booster_Doses_Vax_Pct_030121':'booster_doses_pct_030121',
       'Dose1_Pop_Pct_090121':'dose1_pct_090121', 'Series_Complete_Pop_Pct_090121':'series_complete_pct_090121',
       'Booster_Doses_Vax_Pct_090121':'booster_doses_pct_090121', 'Dose1_Pop_Pct_030122':'dose1_pct_030122',
       'Series_Complete_Pop_Pct_030122':'series_complete_pct_030122', 'Booster_Doses_Vax_Pct_030122':'booster_doses_pct_030122'}, inplace=True)

In [93]:
df.set_index('county_state', inplace=True)

In [94]:
df.to_csv('./clean_data/inner_merge_data.csv')